<p id="notice"><%= notice %></p>

<%= render @dog %>

<div>
  <%= link_to "Edit this dog", edit_dog_path(@dog) %> |
  <%= link_to "Back to dogs", dogs_path %>

  <%= button_to "Destroy this dog", dog_path(@dog), method: :delete %>
</div>
